NEXT_PUBLIC_SUPABASE_URL=https://gaddxayweekttcxkqptw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdhZGR4YXl3ZWVrdHRjeGtxcHR3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU3NDc0MzQsImV4cCI6MjA5MTMyMzQzNH0.YpVz5RhMwr8CRCovbriij-ZdX9LsVr_GVSxkeulOwv4